{% extends "base.html" %}
{% block title %} Edit | Watch your post {% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/post.css' %}">

{% if edit %}
<div class="alert alert-success" style="text-align: center;" role="alert">
    <h4> {{ edit }} </h4> 
</div>
{% endif %}
{% csrf_token %}

<div class="container_post" style=" height: 800px">
    <div class="box">

        <img class="left_side" src="{% static 'media/'%}{{post_pathImg}} ">

        <div class="right_side">
            <div class="description">
                <div class="user-post"> 
                    <h4> {{post_user}} </h4>
                </div>
                <div> 
                    <form name = "form" action = "/edit/" method = "POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{idpost_post}}" name="hidde_edit_idpost">
                        <input type="hidden" value="save" name="type_form">                        
                        <p class="small-text"> Posted on : {{post_date}}</p>
                        <p>Title : <input type = "text" name = "title" value="{{post_title}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/> </p>
                        <p>Description : <input type = "text" name = "description" value="{{post_description}}"class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/> </p>
                        {% comment %} <button type="submit" class="btn btn-danger">Delete</button> {% endcomment %}
                        <button type="submit" class="btn btn-dark">Save</button>
                    </form>

                    <form name = "form_delete" action = "/edit/" method = "POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{idpost_post}}" name="hidde_edit_idpost">
                        <input type="hidden" value="delete" name="type_form">
                        <button type="submit" id="deleteBtn"  class="btn btn-danger">Delete</button>
                    </form>


                </div>
            <hr/>
        </div>
        
    </div>
</div>

{% endblock %}