{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% load static %}
{% block content %}
{% comment %} {% if items %}
<h3>All my lists</h3>
{% endif%} {% endcomment %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container_home"> 
    {% for post in posts %}
    {% comment %} {{ elem.username }}: {% if elem.role %}Admin{% else %}Not admin{% endif %} {% endcomment %}
        <div class="item">
            <img src="{% static post.pathImg %}">
            <h1> {{ post.title }} </h1>
            <p> {{ post.description }}</p>
        </div>
    {% endfor %}

</div>
{% endblock %}