{% extends "base.html" %}
{% block title %} My Profile{% endblock %}
{% load static %}
{% block content %}


{% if islogged%}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">


  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload a new post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dark">Upload</button>
                    </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  
<div style="display:flex; flex-direction: column; justify-content: center;">
    <hr/>
    
    <h3> My posts </h3>
    
    <div class="container_home"> 
        <div class="item">
            <button type="button" class="btn btn-dark" style="width: 250px; height: 350px;" data-bs-toggle="modal" data-bs-target="#exampleModal"> <span class="material-icons" style="font-size: 56px;">file_upload</span> <br>
                Upload a new image</button>
        </div>
        {% for post in posts %}
        {% comment %} {{ elem.username }}: {% if elem.role %}Admin{% else %}Not admin{% endif %} {% endcomment %}
            <div class="item">
                <form id="post_form_{{ post.id_post }}" method="POST" action="/edit/" onclick="submitForm('post_form_{{ post.id_post }}')">
                    {% csrf_token %}
                    <input type="hidden" value="{{post.id_post}}" name="hidde_home_idpost">
                        <img role="button" src="{% static 'media/'%}{{post.pathImg}}">
                            <h1> {{ post.title }} </h1>
                        <p> {{ post.description }}</p>
                    </input>
                </form>
                <div style="text-align: right; color: black;">
                    <span class="material-icons" >edit</span>
                </div>
            </div>
        {% endfor %}
    </div>  
</div>

<script>
    function submitForm(formId) {
        document.getElementById(formId).submit();
    }
</script>

{% else %}
    <div style="display: flex; flex-direction: row; justify-content: center; height: 800px">

        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 150px;">
            <h3> You don't have acces to this page, please login</h3>
            <a href="/login" class="btn btn-dark"> Go to login </a>
        </div>
    
        <img style="width: 400px; height: 400px;" src="{% static 'img/icon/404.png'%}">
    </div>
    
{% endif %}

{% endblock %}