{% extends "base.html" %}
{% block title %} Post | Watch your post {% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/post.css' %}">
<div class="container_post">
    <div class="box">

        <img class="left_side" src="{% static 'img/'%}{{post_pathImg}} ">

        <div class="right_side">
            <div class="description"> <!-- User: Description and button like-->
                <div> 
                    <h4> Alice </h4>
                </div>
                <div> 
                    <h4> {{post_title}} </h4>
                    <p> Posté le : {{post_date}} | {{post_like}} likes</p>
                    <p> {{post_description}}</p>
                </div>
            </div>

            <div> <!-- Commentaire and add commentaire-->

                <div class="comment" ><!-- list commentaire-->
                    <ul>
                        {% for comment in comments %}
                            <li>
                                {{ comment.id_username }} : {{ comment.comment_description}} {{ comment.date}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div> <!-- Add commentaire-->
                    <form class="form_comment" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p> Sandra </p> 
                        <input type="hidden" name="idpost_post" value="{{idpost_post}}">
                        <input type="text" name="comment">
                        <input type="submit" value="Envoyer" />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}