/* ////////////// Partie Deskop + Mobile ////////////////// */
html,
body{
    display: flex;
    background-color:white;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    justify-content: center;
    color: #222222;
    min-height: 100%;
    min-width: 100%;
    flex-direction: column;
}

/* /////////////// Partie Mobile ///////////////// */

@media screen and (min-width: 1000px){
    html,
    body {
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center
    height: 110vh; /* Centrer verticalement sur la page */
}

input{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-width: 370px;
    min-height: 38px;
    line-height: 18,75px;
    padding-left: 16px;
    margin-top: 8px;   
    margin-bottom: 0;
    border-radius: 50px;
}

button:focus{
    background: #E06867;
}

.AdresseMail > *{
    margin-bottom: 8px;
}
form {
    width: 300px; /* Largeur du formulaire */
    text-align: center; /* Centrer le contenu du formulaire horizontalement */
}
forme p{
    display: flex;
    justify-content: center;
    text-align: center; /* Centrer le texte horizontalement */
    align-items:center;
    height: 120vh; /* Centrer verticalement sur la page */
}
.p{
    display: flex;
    justify-content: center;
    text-align: center; /* Centrer le texte horizontalement */
    align-items:center;
    margin-left: 50%;
}

forme h2{
    display: flex;
    background: grey;
    justify-content: center;
    text-align: center; /* Centrer le texte horizontalement */
    align-items:center;
    height: 120vh; /* Centrer verticalement sur la page */
    border: 1 solid;
}
.h2{
    display: flex;
    justify-content: center;
    text-align: center; /* Centrer le texte horizontalement */
    align-items:center;
    margin-left: 50%;
}


button{
    border-radius: 50px;
    color: white;
    align-items: center; 
    justify-content: center;
    border: none;
    min-width : 370px;
    min-height: 48px;
    background: red;
    margin-top: 24px;
}
buttonGoogle{
    border-radius: 50px;
    color: grey;
    align-items: center; 
    justify-content: center;
    border: none;
    min-width : 370px;
    min-height: 48px;
    background: white;
    margin-top: 24px;
}

label{
    margin-top: 24px;
    display: block;
}
.a{
    text-decoration: none;
}

.errorMessage{
    display: none;
    color:hsla(360, 67%, 51%, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-top: 8px;
}

#successAccount{
    display: none;
    text-align: center;
    color:hsla(145, 63%, 42%, 1);
    margin-top: 32px;
}

