
.container_post{
    width: 1200px;
    height: 800px;
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.small-text{
    font-size: 12px;
}

.user-post{
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.left_side{
    border-radius: 2%;
    max-width: 600px;
    max-height: 600px;
}
.right_side{
    margin: 10px;
}
.box{
    display: flex;
    flex-direction: row; 
}

.form_comment{
    display: flex;
    flex-direction: row;
}

.comment{
    max-height: 200px;
    max-width: 730px;
    width: 730px;
    overflow-y: scroll;
    background-color: rgb(248, 248, 248);
    border: 1 solid black;
}

.comment li{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}

